APP_CONTAINER_NAME="Имя_контейнера_тестового_приложения"
POSTGRES_CONTAINER_NAME="Имя_контейнера__тестовой_базы_данных"
POSTGRES_USER="Логин_пользователя_тестовой_базы_данных"
POSTGRES_PASSWORD="Пароль_пользователя_тестовой_базы_данных"
POSTGRES_DB="имя_тестовой_базы_данных"